// Bootstrap core
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

// Bootstrap utils
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/transitions';

// Bootstrap components
// @import '~bootstrap/scss/images';
@import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/nav';
// @import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tables';
