
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

// Display only on print view
.media-print {
  display: none;
}

@media print {
  html {
    font-size: 80%
  }

  body {
    font: 9.5pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }

  @page {
    margin: 0 2cm;
  }

  .table {
    color: #000 !important;
  }

  .media-print {
    display: initial;
  }

  .media-desktop {
    display: none;
  }

  .footer {
    position: static;
  }
}
