.data-table {
  tbody > tr > td {
    vertical-align: middle;
  }

  &__input {
    height: 34px !important;
    display: inline-block !important;

    &--qty,
    &--price {
      width: 82px !important;
    }

    &--error {
      border-color: #dc3545 !important;
    }
  }

  &__sub {
    display: inline-block;
  }

  &.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .custom-control {
    width: 20px;
    padding-left: initial;
    display: inline-block;
  }

  .custom-control-label::before,
  .custom-control-label::after {
    left: 0.4rem;
    top: 0.1rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media print {
  .data-table {
    tbody > tr > td {
      padding: 0.15rem 0.75rem !important;
    }

    tbody > tr > td,
    thead > tr > th {
      border-color: #a0a0a0 !important;
    }

    &__row {
      &--hidden {
        display: none;
      }
    }

    &__input {
      height: initial !important;
      width: initial !important;
      border: none !important;
    }
  }
}
